/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    background-color: white;
}

mat-card {
    background-color: #3F51B5;
    margin: 0.5em;
}

mat-tab-group {
    background-color: white;
}